/* general page layout */

body { 
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
  font-family: sans-serif;
}

.leftbar {
  clear: left;
  float: left;
  padding-left: 10px;
  width: 200px;
}

.mainbar {
  margin-right: 10%;
  margin-left: 225px;
  max-width: 600px;
  margin-left: 250px;
  font-size: 0.9em;
  text-align: justify;
}

.maintitle {
  line-height: 54px;
  border-top: 3px solid maroon;
  border-bottom: 3px solid maroon;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.halign {
  clear: both;
  margin: 0px;
  padding: 0px;
  width: 100%
}

.vspace10px {
  height: 10px;
}

.center {
  text-align: center;
}

/* left bar elements */

.item { 
  font-size: 0.8em;
  margin-bottom: 0px;
}

.item h3 { 
  border-top: 1px solid maroon;
  border-right: 3px solid maroon;
  border-bottom: 3px solid maroon;
  border-left: 1px solid maroon;
  background-color: white;
  margin: 0px;
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
}

.item p { 
  padding-left: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 1px solid maroon;
  margin: 0px;
}

/* mainbar elements */

.mainbar h1 {
  margin: 0px;
  font-size: 2em;
  text-align: center;
}

/* */

.code { 
  border: 1px solid green;
  padding: 2px;
  background-color: aliceblue;
  font-family: Courier;
  font-size: 1em;
}

.noborder {
  border: none;
}

h1 {
  margin: 10px;
  font-size: 2em;
}

ul { 
  padding-top: 0px;  
  margin-top: 0px;  
}

#footer { 
  clear: both;
  margin-top: 10px;
  max-width: 850px;
  border-top: 2px solid maroon;
  font-size: 0.8em;
  text-align: center;
}
